#hero {
    margin-top: 120px;
    position: relative;
    width: 100%;
    background-color: #383838;
}
  
#hero img {
    max-width: 80%;
    max-height: 80%;
    display:block;
    margin: 0 auto;
}
  
#hero .reglog {
    width: 500px;
    font-size: 50px;
    height: 100px;
    border: none;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}