* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  html {
    scroll-padding-top: 130px;
  }
  
  body {
    margin: 0; 
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  
  .Home {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
  }
  
  .m_container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    margin: 0 auto;
    padding: 20px;
  }
  
  /*responsive*/
  
  @media (min-width: 700px){
    #mobile_icon {
      display: none;
    }
  }
  
  @media (max-width: 850px){
    .m_container {
      width: 100%;
    }
    .reg_container, .log_container  {
      width: 90%;
    }
    
  }
  
  @media (max-width: 699px) {
    #header .m_container > img {
      order: 2;
    }
  
    #mobile_icon {
      margin-top: 40px;
  
    }
  
    #mobile_menu {
      order: 1;
      position: relative;
      width: 50px;
      height: 120px;
    }
  
    #header_nav {
      /*padding-top: 20px;*/
      position: absolute;
      display: none;
      margin-top: 36px;
      background-color: #C9F0C3;
      width: 200px !important;
    }
  
    #header_nav .m_container {
      display: block;
    }
  
    #mobile_menu:hover #header_nav {
      display: block;
    }
  
    #header_nav a {
      text-align: left;
      display: block;
    }
    
    #header_reg_log {
        flex: 1 1 80%;
        order: 3;
    }
  } 
  
  @media (max-height: 700px) {
    #footer p {
        width: 40%;
    }
  } 
  
  .reg_container::-webkit-scrollbar, .log_container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .reg_container,.log_container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
  
  @media (max-width: 500px) {
    /*#header img {
      left: 50%;
      transform: translateX(-50%);
    }*/
  
    #hero .reglog {
      width: 50%;
      height: 70px;
      font-size: 20px;
    }
  
    .info {
        width: 100%;
        margin: 0 auto;
        line-height: 25px;
    }
    .info > div {
        margin: 10px;
    }
    .reglog {
        display: block;
        padding: 0 0;
        margin-top: 10px;
    }
  }
  
  @media (max-width: 300px) {
    #header_reg_log {
        width: 90%;
    }
  } 