.app__container{
    padding-top: var(--header-height);
    flex: 1;
    min-width: 548px;
}

.app__content{
    margin-top: 16px;
}
.avatar{
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    margin-bottom: 10px;
}
.body-user-img{
    border-radius: 100%;
    max-width: 200px;
    margin: auto;
}
.body-user-name{
    display: flex;
    justify-content: center;
    font-size: 2.0rem;
    font-weight: 600;
    padding: 12px 0 16px 0;
}
.body-user-icon{
    display: flex;
    justify-content: center;
    font-size: 2.0rem;
    color: rgb(13, 115, 232);
    padding: 8px 0 16px 0;
}
.category{
    background-color: #fff;
    border-radius: 4px;
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.category-list{
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
}

.category-item-link{ 
    display: block;   
    color: var(--text-color);
    padding: 12px;
    
}
.category-item-link:hover{
    background-color: #08a838;
    border-radius: 8px;
}
.category-item-link-active{
    background-color: var(--primary-color) !important   ;
    border-radius: 8px;
    color: #fff;
}

.category-item-name{
    margin-left: 12px;
    line-height: 2.2rem;
}

/* -------------------Information----------------------- */
.information{
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}
.information-title{
    display: inline-block;
    color: var(--primary-color);
    font-size: 4.0rem;
    padding: 48px 0px 8px 32px;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 4.2rem;
    text-align: left;
    width: 80%;
}
.edit-icon{
    font-size: 2.4rem;
    color: #08a838;
    float: right;
    padding: 20px;
    margin: 50px 16px 0 0;
}
.edit-icon:hover{
    cursor: pointer;
    opacity: 0.6;
}
.information-list{
    display: block;
    padding: 28px 16px 26px 16px;
    margin: 0;
}
.information-item{
    font-size: 1.8rem;
    padding: 12px;
}

.save-btn{
    color: #fff;
    padding: 0 0 16px 0; 
    display: flex;
    justify-content: center;
    min-width: 150px;
}
.save-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}
.save-btn span{
    padding: 16px;
    background-color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 400;
    border-radius: 8px;
}

/* -----------------Booth Map-------------- */

.booth-map{
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    min-width: 548px;
}
.booth{
    padding: 16px;
}
.h6-building{
    background-color: #C4C4C4;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.h6-block{
    background-color: #C4C4C4;
    height: 200px;
    width: 14%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
}
.booth-behind-map{
    display: inline-block;
    width: 84%;
}

.note-list{
    display: flex;
    justify-content: space-around;
}
.note-item{
    display: flex;
}
.note-item span{
    font-size: 2.2rem;
    line-height: 40px;
    margin-left: 16px;
}

/* -------------Register------------------- */
.register{
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}
.register-btn{
    color: #ffffff;
    padding: 0 0 16px 0; 
    display: flex;
    justify-content: center;
    min-width: 150px;
}
.register-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}
.register-btn span{
    padding: 16px;
    background-color: #ff5050;
    font-size: 2.2rem;
    font-weight: 400;
    border-radius: 8px;
}
.register-list{
    display: block;
    padding: 28px 16px 0px 16px;
    margin: 0;
}
.register-item{
    font-size: 1.8rem;
    padding: 12px;
}

/* ------------ //----------------- */


.approve{
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}
.approve-title{
    display: block;
    color: var(--primary-color);
    font-size: 4.0rem;
    padding: 32px 0px 8px 60px;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 4.0rem;
    text-align: left;
    width: 100%;
    border-radius: 4px;
}
.approve-description{
    padding: 12px 24px 24px 32px;
    font-size: 1.8rem;
    color: #777;
    word-wrap: break-word;
    text-align: justify;
    line-height: 2.4rem;
}
.approve .btn-note {
    width: auto;
    height: auto;
    border: none;
    padding: 5px;
    margin-bottom: 2px;
}

.approve tbody, .approve thead {
    font-size: 12px;
}

.dataTables_wrapper {
    margin-top: 10px;
} 

#sortTable tbody{
    font-size: 14px;
}
.MainDiv .container{
    font-size: 14px;
    margin: 0 12px 12px 10px;
}